{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block body %}

    <div class="container">

        <h1>Réinitialisation du mot de passe</h1>

            {{ form_start(form) }}
                {{ form_row(form.password, {'label': "Veuillez entrer votre nouveau mot de passe"}) }}
                {# form_row(form.passwordConfirmation, {'label': "Veuillez confirmer votre nouveau mot de passe"}) #}
                {#<input type="hidden" name="token" value="{{ token }}">#}
                <button type="submit" class="btn btn-primary" id="valider">Valider</button>
            {{ form_end(form) }}

    </div>

{% endblock %}