
<h1>Réinitialisation de mot de passe</h1>

<p>Bonjour, une demande de nouveau mot de passe a été effectuée sur le site SnowTricks</p>

<p>Veuillez cliquer sur le lien suivant pour le réinitialiser : <a href="{{ absolute_url(path('resetPassword', {'token': token})) }}">{{ url }}</a></p>
