{% extends 'base.html.twig' %}

{% block title %}Modifier une figure{% endblock %}

{% block body %}

    <div class="container">

        <h1>Modification d'une figure</h1>

        {{ form_start(form) }}

        {{ form_widget(form) }}

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Modifier la figure</button>
        </div>

        {{ form_end(form) }}

    </div>

{% endblock %}
