{% extends 'base.html.twig' %}

{% block title %}Les figures{% endblock %}

{% block body %}

    <div class="container-fluid">

        <div class="cover">
            <h1>Titre</h1>
            <p class="subtitle">Phrase d'accroche</p>
            <i class="fas fa-arrow-down"></i>
        </div>

        <article>

            <div class="row">
                {% for trick in tricks %}

                    <div class="card col-sm-4 col-md-3 col-lg-2 col-xl-2">
                        {% if trick.pictures is empty %}
                            <img src="/images/empty.jpg" class="card-img-top" alt="image">
                        {% else %}
                            {% for picture in trick.pictures %}
                                {% if loop.index == 1 %}
                                    <img src="{{ vich_uploader_asset(picture, 'imageFile') }}" class="card-img-top" alt="image">
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <div class="card-body">
                            <div class="row">
                                <h4 class="card-title col-sm-9 col-md-10 col-lg-8 col-xl-8"><a href="{{ path('showTrick', {'id': trick.id}) }}">{{ trick.name }}</a></h4>
                                <div class="col-sm-3 col-md-2 col-lg-4 col-xl-4">
                                    <i class="fas fa-pencil-alt"></i>
                                    <i class="fas fa-trash-alt"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>

            {{ knp_pagination_render(tricks) }}

        </article>

    </div>

{% endblock %}
